@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.navbar-container {
    width: 50%;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 1000;
    border-radius: 20px;
}
.content {
    background-color: #000000;
}
nav {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 1px 3px #3c40434d, 0 4px 8px 3px #3c404326;
    margin-top: 20px;
}
.logo img {
    height: 70px;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: right;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background 0.3s ease;
}
.nav-links a:hover {
    background: #F0F0F0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.get-started {
    background: #5BE9B9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.get-started:hover {
    background: #5BE9B9;
}
.content {
    padding: 20px;
    height: 2000px; /* Added height for scrolling */
    background-color: #F5F5F5;
}
.radius {
    border-radius: 1.5rem;
}

/* Media Queries for Tablet and Desktop */
@media (max-width: 1458px) {
    .navbar-container {
        width: 50%;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-items: right;
    }
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .bar {
        height: 3px;
        width: 25px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.3s;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        margin: 5px 0;
        width: 100%;
    }
    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .get-started {
        width: 100%;
        padding: 15px;
        text-align: center;
        display: none;
    }
    .get-started.active {
        display: block;
    }
    .logo img {
        height: 70px;
    }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .navbar-container {
        width: 100%;
    }
    .logo img {
        height: 50px;
    }
}



/* Global style for all links */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.footer {
    padding: 20px;
    border-top: 1px solid #ccc;
}

.footer .contact {
    display: flex;
    flex-direction: column;
}

.footer .contact img {
    width: 15%;
    height: auto;
    margin-bottom: 10px;
}

.footer .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.footer .links div {
    width: 200px;
    justify-content: right;
}

.footer .social-media {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer .bottom-links {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}

.footer .bottom-links a {
    margin: 0 5px;
}